{{> navbar}}



<div class="container d-flex flex-column w-50 my-2">
    <h2 class="text-center">LISTADO DE PRODUCTOS</h2>
    <table class="table my-1">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Thumbnail</th>
            </tr>
        </thead>
        <tbody id="productsTable">
            {{#if productsExist}}
            {{#each products}}
            <tr>
                <th scope="row">
                    {{this.id}}
                </th>
                <td style="text-transform: uppercase;">
                    {{this.name}}
                </td>
                <td>
                    {{this.price}}
                </td>
                <td>
                    <img src="{{this.thumbnail}}" class="product-img" alt="..." />
                </td>
            </tr>
            {{/each}}
            {{/if}}
        </tbody>
    </table>
</div>


<div class="container d-flex flex-column align-items-center w-25 bg-light my-2 mb-5">
    <h2 class="text-center">CENTRO DE MENSAJES</h2>
    <input type="email" id="caja-nombre" class="form-control w-100" value="" placeholder="Nombre...@email.com" />
    <div class="w-100 text-center" id="div-chats"></div>
    <div class="d-flex flex-row no-wrap w-100">
        <input type="text" id="caja-msg" class="form-control w-50 mx-1" value="" placeholder="Ingrese su mensaje" />
        <button class="btn btn-success w-50 mx-1 " onclick="enviarChat()">Enviar msg</button>
    </div>
</div>





{{> footer}}